// Slider component variables
$slider-dot-transition: 200ms ease;
$slider-generate-scheme: true;
$slider-rewind-transition: 800ms ease-in-out;
$slider-transition: 300ms ease-in-out;

/* Slider component prototype */
div.slider {
	margin-bottom: $element-margin;
	position: relative;

	> div.slider-viewport {
		overflow: hidden;

		> ul.slider-list.grid {
			flex-wrap: nowrap;
			margin-bottom: $element-margin;
			position: relative;

			> li.grid-col {
				flex-shrink: 0;

				> :last-child,
				> :last-child > :last-child,
				> :last-child > :last-child > :last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.is-sliding > div.slider-viewport > ul.slider-list.grid {
		transition: transform $slider-transition;
	}

	&.is-loaded:not(.is-sliding) > div.slider-viewport > ul.slider-list.grid > li.grid-col:not(.is-visible) {
		transition: visibility $slider-transition;
		visibility: hidden;
	}

	&.has-no-next-item > ul.slider-action-list > li > button.slider-action-next {
		pointer-events: none;
	}

	&.has-no-prev-item > ul.slider-action-list > li > button.slider-action-prev {
		pointer-events: none;
	}

	&.is-rewinding {

		> div.slider-viewport > ul.slider-list.grid {
			transition: transform $slider-rewind-transition;
		}

		> ul.slider-action-list > li > button.slider-action-prev, > ul.slider-action-list > li > button.slider-action-next {
			pointer-events: none;
		}
	}

	&.is-dragging {

		> div.slider-viewport > ul.slider-list.grid {
			transition: transform 0ms;
		}

		> div.slider-viewport > ul.slider-list.grid > li.grid-col:not(.is-visible) {
			visibility: visible;
		}
	}

	&.has-mouse-drag {

		> div.slider-viewport {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}

/* Slider component extensions */
div.slider {
}